
.container1 {
    padding: 0;
    background-color: white;
}

.topnav {
    position: fixed;
    z-index: 999;
}

h3.page-header {
    padding-top: 70px;
    margin-bottom: 50px;
}

/* margine pentru formurille din dreapta din popup*/

.formspopup {
    margin-right: 10px;
}


