
body {
    height: 100vh;
    background-color: #031927;
}
.container {
    border: 1px solid black;
    background-color: #9DD1F1;
    padding: 0;
    height: 100vh;
}

p {
    margin-bottom: 0;
}

@media (min-width: 1000px) {
    .container {
        max-width: 1000px;
    }
}


/* Cele trei afisari de valori
---------------------------------------------------------------------------- */

@media (max-width: 575px) {
     p.title-value + div {  /* Divul care reprezinta linia de sub titlu */
        max-width: 154px;
        margin: 0 auto;
    }
}

/* TOPNAV
--------------------------------------------------- */
.topnav {
    height: 40px;
    background-color: #aa4b4d;
    width: 100%;
    margin-bottom: 40px;
}

.topnav > div {
    height: inherit;
}

.display-user div {
    margin-right: 10px !important;
}

/* user icon */
.display-user img {
    /* margin-top: 5px;   */
    width: 20px;
    position: relative;
    bottom: 2px;
}

.menu-icon {
    padding-top: 5px; 
    width: 30px !important;
    height: 30px;
}

ul.dropdown-menu1 {
    position: absolute;
    list-style-type: none;
    position: absolute;
    top: 32px;
    right: 0px;
    padding-left: 0;
    z-index: 2;
    border-radius: 1px;
}

.dropdown-menu1 li {
    height: 25px;
    width: 170px;
    background-color: white;
    padding-left: 20px;
    border: 1px solid grey;
}

.dropdown-block {
    position: relative;
}

.dropdown-menu1 li:hover {
    background-color: #aa4b4d;
    color: white;
    cursor: pointer;
}

.not-visible {
    display: none;
}

/* Content
---------------------------------------------- */
.menu-item {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: #aa4b4d;
    border-radius: 2px;
    padding-top: 10px;
    margin-bottom: 15px;
}
.menu-item p {
    height: 30px;
}

a:visited,
a:active,
a:link {
    text-decoration: none;
    color: black;
}

a.menu-item:hover {
    background-color: #031927;
    color: #aa4b4d;
    text-decoration: none;
}

.unavailable {
    background-color: lightgray;
    pointer-events: none;
    border-color: grey;
}


/* Contracts page 
-------------------------------------- */

#dataGrid {
    margin-bottom: 40px;
}

path:nth-child(1) {
    fill: indigo;

}
path:nth-child(2) {
    fill: indigo;

}

/* sub path se afla rect */




