
body {
    padding-top: 10vh;
    background-color: #031927;
    font-size: 85%;
}

.container {
    border-radius: 0%;
    background-color: #9DD1F1;
}

@media (min-width: 400px) {
    .container {
        width: 400px;
    }
}

h2 {
    color: black;
}

 /* Boxul in care sunt afisate greselile de input */
.error-alert-box {
    border: 1px solid red;
    background-color: #BA1200;
}
.error-alert-box > p {
    text-align: center;
    color: white;
}

/* FORM 
---------------------------------> */

form > div {
    position: relative;
}
form > div > label {
    position: absolute;
    user-select: none;
    left: 50px;
    top: 7px;
    transition: 0.15s ease;
    border-top: -10px;
}


form > div > input:focus + label,
form > div > input:valid + label {
    top: 0px;
    bottom: 0;
    left: 46px;
    font-size: 60%;
    border-width: 5px;
    font-weight: bold;
    height: 10px;
    margin-bottom: 0;
}

input:focus + label {
    color: #aa4b4d;
    border-color: #aa4b4d;
    outline-color: #aa4b4d;
}
input:focus {
    border-color: #aa4b4d;
    color: #aa4b4d;
    outline-color: #aa4b4d;
}

/* Input type text e facut pentru prenume, nume. Cele care nu au un tip predefinit ca email sau parola */
input[type="text"] { 
    background-image: url("../img/user-icon.png");
    background-position: 5px 6px; /* Pozitionarea icon-ului */
}
input[name="email"] {
    background-image: url("../img/email-icon.png");
    background-position: 5px 4px; /* Pozitionarea icon-ului */
}
input[type="password"] {
    background-image: url("../img/password-icon.png");
    background-position: 5px 4px; /* Pozitionarea icon-ului */
}
input[name="email"],
input[type="password"],
input[type="text"] {
    height: 40px;
    padding-left: 45px;
    background-repeat: no-repeat;
    background-size: 30px;
    border: 1px solid black;
    border-radius: 1px;
}
input[name="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    border-color: #aa4b4d;
}


button[type="submit"] {
    height: 40px;
    border-radius: 3px;
    background-color: #aa4b4d;
    border: none;
    margin-bottom: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
    outline: 0;
}

button:focus {
    background-color: rgb(51, 51, 51);
    color: #aa4b4d;
}

a:active,
a:link,
a:visited,
a:hover {
    text-decoration: none;
    color: black;
}

a:focus {
    outline-color: #aa4b4d;
}

div.checkbox:hover {
    cursor: pointer;
}

/* Clasa facuta special pentru inputuri cu valori gresite, dupa submit */
.error_input_previous_mistake {
    border-color: red;
    background-color: #FFCCCB;
}


/* END OF FORM 
---------------------------------> */